# == an example env file ==

# the current environment
# env=dev

# enabled debug or not
# debug=1

# server configurations
# host=0.0.0.0
# port=7788

# log configurations
# log_file=php://stderr
# log_level=info
